@media (max-width: 760px){
    .meme-editor{
        max-width: 500px;
        margin-inline: auto;
    }

    .canvas-container{
        margin-block-end: 30px;
    }
}


@media ((min-width: 760px)){
    .meme-editor{
        display: grid;
        grid-template-columns: minmax(30px, 1fr) minmax(auto, 40vw) 70px minmax(auto, 530px) minmax(30px, 1fr);
    }
}