* {
    box-sizing: border-box;
    scroll-margin-block-start: 10rem;
}

html {
    font-family: poppins, serif;
}

body {
    background-color: var(--crlPrimary2);
    color: var(--crlPrimary);
    margin: 0;
}

a {
    color: var(--crlPrimary);
}

.fa {
    font-family: fa;
}

img{
    margin: 0;
}