.design-btns {
   background-color: var(--crlPrimary1);
   border-radius: 30px;
   color: #ffffff;
}

.txt-edit {
   flex-direction: column;
   gap: 1rem;
   background-color: var(--clrSecondary);
   border-radius: 10px;
   margin-inline: 2rem;
   margin-block-end: 1rem;
   padding: 1rem;
}

.line-txt,
.font-selection select {
   font-size: 1.5625rem;
   color: #3D3D3D;
   align-self: center;
   text-align: center;
   border-radius: 30px;
   background-color: #ebeef3;
   border: none;
   box-shadow:
      0 2px 0 0 #bbc4d1,
      0 -2px 0 0 #ffffff;
}

.line-txt {
   width: 80%;
   padding-block: 0.6rem;
   margin-block: 1.5rem;
}

.line-edit {
   align-self: center;
   margin-block-end: 1rem;
}

.share-downlaod {
   margin-block-end: 1rem;
}

.line-edit button,
.size-colors-btns button,
.size-changers button,
.move-line-btns button {
   height: 3rem;
   width: 3.5rem;
   border-radius: 10px;
   border: none;
   color: #3D3D3D;
   font-weight: bold;
   font-size: 1.5rem;
   cursor: pointer;

}

.line-edit button:hover,
.size-colors-btns button:hover,
.size-changers button:hover,
.move-line-btns button :hover {
   background-color: #b2adad;
}

.size-colors-btns {
   gap: 0.3rem;
}

.move-line-btns {
   align-self: center;
}

.move-line-btns button:hover {
   background-color: #b2adad;
}

.font-selection {
   justify-content: center;
   gap: 1rem;
}

.font-selector {
   width: 50%;
}

.font-size-selector {
   width: 40%;
   padding-inline: 1rem;
}

.size-colors-btns {
   align-self: center;
   flex-wrap: wrap;
}

.fill,
.border,
.size-changers button {
   position: relative;
}

.size-colors-btns input[type='color'] {
   opacity: 0;
   height: 0;
   width: 0;
}

.border-color,
.fill-color {
   font-size: 2em;
   border: 2px solid #333;
   border-radius: 5px;
   padding: 10px;
   background-color: #fff;
   cursor: pointer;
   height: 50px;
}

.line-edit button:first-of-type {
   background-color: #35acca;
   box-shadow:
      0 5px 0 0 #1092a0,
      0 -5px 0 0 #50b7cd;
}

.line-edit button:nth-of-type(2) {
   background-color: #3ac34f;
   box-shadow:
      0 5px 0 0 #158447,
      0 -5px 0 0 #6ec47d;
}

.line-edit button:nth-of-type(3) {
   background-color: #e33b36;
   box-shadow:
      0 5px 0 0#960c0d,
      0 -5px 0 0 #e26359;
}

.share-downlaod form {
   display: grid;
}

.download {
   position: relative;
   text-decoration: none;
   text-align: center;
   background-color: #8F44BB;
   box-shadow:
      0 5px 0 0#6b338b,
      0 -5px 0 0 #9961ba;
   border-radius: 10px;
   padding-inline-start: 2rem;
   padding-inline-end: 1rem;
   padding-block: 0.5rem;
   font-size: 0.8rem;
}

.share {
   position: relative;
   background-color: #0ec295;
   box-shadow:
      0 5px 0 0#0a9572,
      0 -5px 0 0 #5ec5ab;
   border-radius: 10px;
   padding-inline-start: 2rem;
   padding-inline-end: 1rem;
   padding-block: 0.5rem;
   border: none;
   color: var(--crlPrimary);
   font-size: 0.8rem;
   cursor: pointer;

}

.save {
   position: relative;
   background-color: #1E7CD3;
   box-shadow:
      0 5px 0 0#185ea0,
      0 -5px 0 0 #4990d2;
   border-radius: 10px;
   padding-inline-start: 2rem;
   padding-inline-end: 1rem;
   padding-block: 0.5rem;
   border: none;
   color: var(--crlPrimary);
   font-size: 0.8rem;
   margin-inline: 0.5rem;
   cursor: pointer;
}

.fa.switch::before {
   content: "\f063\f062";  
}


.fa.delete::before{
   content: '\f1f8';
}

.fa.plus::before{
   content: '\2b';
}

.fa.fill::before{
   content: '\f576';
   position: absolute;
}

.fa.border::before{
   content: '\f55d';
   position: absolute;
}

.fa.download::before{
   content: '\f019';
   position: absolute;
   left: 10px;
}

.fa.share::before{
   content: '\f064';
   position: absolute;
   left: 10px;
}

.fa.save::before{
   content:'\f0c7' ;
   position: absolute;
   left: 10px;
}
