.gallery-container {
    flex-direction: column;
    margin-block-start: 3em;
    background-color: #393b41;

}

.gallery-main-layout {
    column-count: 6;
    column-width: 160px;
    column-gap: 5px;
    margin-inline: 20px;
    margin-block-start: 8rem;
}

.gallery img {
    width: 160px;
    border-radius: 10px;

    cursor: pointer;
}


.flexible-btn {
    background-color: #1E7CD3;
    box-shadow:
        0 5px 0 0#185ea0,
        0 -5px 0 0 #4990d2;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: none;
    color: var(--crlPrimary);
    font-size: 0.8rem;
    margin-inline: auto;
    margin-block: 2rem;
}


.filter-memes {
    justify-content: center;
}

.filter-meme {
    background-color: var(--crlPrimary2);
    border-radius: 30px;
    height: 3rem;
    width: 80vw;
    border: none;

}

.filter-meme::placeholder {
    font-size: 1.3rem;
    padding-inline: 1.5rem;
    font-family: poppins;
}

.clear-btn {
    background-color: transparent;
    border: none;
    color: var(--crlPrimary);
    font-size: 1.2rem;

}

.file-upload-label {
    display: flex;
    font-family: poppins;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 160px;
    aspect-ratio: 1;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin-block-end: 5px;
    cursor: pointer;
}

.icon{
    position: relative;
}

.fa.icon::before{
    content: '\f093';
    position: absolute;
    left: 3.125rem;
    top: 1rem;
}

.file-input {
    display: none;
}