.main-nav {
    gap: 3rem;
    padding-block: 1rem;
  
}

.main-nav a:hover {
    color: rgb(134, 134, 134);
}

.nav-btn {
    color: var(--crl-primary-6);
    background-color: var(--crl-primary2);
    border: 0.5px solid var(--crl-primary-6);
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: end;
}