.saved-container {
    column-count: 6;
    column-width: 160px;
    column-gap: 5px;
    margin-inline: 20px;
    margin-block-start: 20px;

}

.saved-container img {
    width: 160px;
    border-radius: 10px;
    cursor: pointer;
    margin-block-end: 5px;
}