@font-face {
    font-family: fa;
    src: url('/fonts/fa-brands-400.ttf');
}

.fa {
    font-family: fa;
}

.fa.switch::before {
    content: "\f063\f062";   
}

.border-color, .fill-color{
    font-size: 2em;
    -webkit-appearance: none; 
    -moz-appearance: none;     
    appearance: none;         
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    height: 50px;
}



