@font-face {
    font-family: fa;
    src: url('/fonts/fa-brands-400.ttf');
}

.fa {
    font-family: fa;
}

.fa.switch::before {
    content: "\f063\f062";   
}


.fa.delete::before{
    content: '\f1f8';
}

